In [239]:
import pandas as pd

In [241]:
df=pd.read_csv("Audi_A1_listings.csv")
df.head(3)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642

In [243]:
df=df.drop(columns=['index', 'href', 'MileageRank', 'PriceRank','PPYRank', 'Score'])  #leakage
df.head(3)  #numerical and categorical datas

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),PPY
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              471 non-null    float64
 1   Type              471 non-null    object
 2   Mileage(miles)    471 non-null    float64
 3   Engine            471 non-null    object
 4   PS                471 non-null    float64
 5   Transmission      471 non-null    object
 6   Fuel              471 non-null    object
 7   Number_of_Owners  471 non-null    int64
 8   Price(£)          471 non-null    float64
 9   PPY               471 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 36.9+ KB

In [247]:
df['Engine']=df['Engine'].str.replace('L', '')
df["Engine"]

0      1.6
1      1.0
2      1.4
3      1.6
4      1.6
      ...
466    1.4
467    1.0
468    1.4
469    1.0
470    1.0
Name: Engine, Length: 471, dtype: object

In [249]:
df['Engine']=pd.to_numeric(df['Engine'])
df['Engine']

0      1.6
1      1.0
2      1.4
3      1.6
4      1.6
      ...
466    1.4
467    1.0
468    1.4
469    1.0
470    1.0
Name: Engine, Length: 471, dtype: float64

In [251]:
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),PPY
0,2018.0,Hatchback,44000.0,1.6,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [253]:
df=pd.get_dummies(df,columns=['Type','Transmission', 'Fuel'], drop_first=True)  #False automatic , False Diesel
df.head(3)

,Year,Mileage(miles),Engine,PS,Number_of_Owners,Price(£),PPY,Transmission_Manual,Fuel_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,2499.166667,True,False
1,2016.0,42596.0,1.0,93.688363,3,10755.0,2688.750000,True,True
2,2015.0,42700.0,1.4,123.274162,2,10799.0,3599.666667,True,True

In [255]:
df.columns = df.columns.str.replace('Price(£)', 'Price')
df.head(3)

,Year,Mileage(miles),Engine,PS,Number_of_Owners,Price,PPY,Transmission_Manual,Fuel_Petrol
0,2018.0,44000.0,1.6,114.398422,1,14995.0,2499.166667,True,False
1,2016.0,42596.0,1.0,93.688363,3,10755.0,2688.750000,True,True
2,2015.0,42700.0,1.4,123.274162,2,10799.0,3599.666667,True,True

In [257]:
y=df[['Price']]
x=df.drop('Price', axis=1)

In [259]:
from sklearn.linear_model import LinearRegression

In [261]:
lm=LinearRegression()
model=lm.fit(x,y)

In [269]:
X_new=pd.DataFrame([[2017, 30000, 1.6, 110, 1, 2600, 0,1]], columns=['Year', 'Mileage(miles)', 'Engine', 'PS', 'Number_of_Owners', 'PPY','Transmission_Manual', 'Fuel_Petrol'])
print(model.predict(X_new))

[[13145.9080419]]

In [273]:
model.score(x,y)   #accuracy

0.959529577283974